<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CourseRecommender{% if page_title %}: {{ page_title }}{% endif %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <link href="/static/css/normalize.css" type="text/css" media="screen" rel="stylesheet">
    <link type="text/css" href="/static/css/ui-darkness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />	
    {% block head %}
    <link href="/static/css/course.css" type="text/css" media="screen" rel="stylesheet">
    <script src="/static/js/course.js" type="text/javascript" ></script>
    {% endblock %}
  </head>
  <body>
  <header>
    <hgroup>
      <h1>CourseRecommender</h1>
      <h2>Recommending courses and whatever.</h2>
    </hgroup>
  </header>
  <div id="container">
  {% block main_content %}
  {% endblock %}
  </div>
  </body>
</html>