{% extends "base.html" %}
{% block main_content %}
    <div id="userinput">
        <input type="text" placeholder="Enter a course..."/>
    </div>
	<div id="canvas">
	</div>
	<form id="course_ratings" action="/recommendations" method="POST">
    <table id="autocomplete">
      <tr id="courseheader"><th>Name</th><th>Sucked</th><th>Not good</th><th>Meh.</th><th>Good</th><th>Awesome</th><th>Remove?</th></tr>
    </table>
    <p id="new_username">One more thing... please put in your email so you can retrieve your list later! <input type="text" name="username" placeholder="ces02006@mymail.pomona.edu"></p>
    <input id="submit" type="submit" value="Get recommendations!">
  </form>
{% endblock %}