{% extends "base.html" %}
{% block main_content %}
    <form id="userinput">
        <input type="text" placeholder="Enter a course you took..."/>
    </form>
    <svg width="120" height="24px">
	    <defs>
	      <linearGradient id="half">
	        <stop offset="50%" stop-color="#ea4c89" />
	        <stop offset="53%" stop-color="rgba(0,0,0,0)" />
	      </linearGradient>
	    </defs>

    	<path style="opacity: 1; fill-opacity: 1; stroke-opacity: 0; cursor: crosshair; stroke-width: 0.5" fill="url(#half)" stroke="#c2c3c5" d="M8,10l0,0,4,-8l0,0,4,8h6l0,0,-6,4l0,0,2,8l0,0,-6,-6l0,0,-6,6l0,0,2,-8l0,0,-6,-4z" opacity="1" fill-opacity="1" class="staricon" stroke-width="1.5" stroke-opacity="1"></path>
    	<path style="opacity: 1; fill-opacity: 1; stroke-opacity: 0; cursor: crosshair; stroke-width: 0.5;" fill="#ea4c89"  stroke="#c2c3c5" d="M28,10l0,0,4,-8l0,0,4,8h6l0,0,-6,4l0,0,2,8l0,0,-6,-6l0,0,-6,6l0,0,2,-8l0,0,-6,-4z" opacity="1" fill-opacity="1" stroke-width="1.5" class="staricon" stroke-opacity="1"></path>
    	<path style="opacity: 1; fill-opacity: 1; stroke-opacity: 0; cursor: crosshair; stroke-width: 0.5;" fill="rgb(234, 0, 90)" stroke="#c2c3c5" d="M48,10l0,0,4,-8l0,0,4,8h6l0,0,-6,4l0,0,2,8l0,0,-6,-6l0,0,-6,6l0,0,2,-8l0,0,-6,-4z" opacity="1" fill-opacity="1" class="staricon" stroke-width="1.5" stroke-opacity="1"></path>
    	<path style="opacity: 1; fill-opacity: 1; stroke-opacity: 0; cursor: crosshair; stroke-width: 0.5;" fill="rgb(234, 0, 90)" stroke="#c2c3c5" d="M48,10l0,0,4,-8l0,0,4,8h6l0,0,-6,4l0,0,2,8l0,0,-6,-6l0,0,-6,6l0,0,2,-8l0,0,-6,-4z" opacity="1" fill-opacity="1" class="staricon" stroke-width="1.5" stroke-opacity="1"></path>
	</svg>
    <ul id="autocomplete">
      <li><strong>MATH101 PO-01</strong> &ndash; Intro to Analysis</li>
    </ul>
{% endblock %}