/* @override http://127.0.0.1:5000/static/css/course.css */

body {
	background: rgb(30,31,30);
	padding: 0px;
	margin: 0px;
}

::selection,::-moz-selection {
	color: #fff;
	color: rgba(255, 255, 255, 0.85);
	background: #ea4c89;
}

body > header, #container {
	color: white;
	width: 70%;
	margin: 0 auto;
}

body > header {
	margin: 1em auto;
	text-shadow: #000 0 0 3px;
}

body > header h1 {
	margin: 0;
}

body > header h2 {
	margin: 0;
}

div#userinput, #autocomplete {
	padding: 1em;
}

div#userinput > input[type="text"] {
	background: rgb(245,246,245);
	width: 100%;
	margin: 0;
	font-size: 36px;
	display: block;
}

.removebox {
	width: 12px;
	height: 12px;
	float: right;
	display: inline-block;
	background: transparent;
}

#container {
	background: rgb(25,26,25);
}

#canvas {
	width: 100%;
	height: 100%;
}

#autocomplete {
	list-style-type: none;
	line-height: 2;
	width: 100%;
}

#autocomplete td{
	padding-left: 5px;
	clear: both;
}

#autocomplete td.coursecode{
	width: 100px;
}

#autocomplete .professor {
	opacity: 0;
	color: rgb(166,166,166);
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200mx ease-in-out;
	-o-transition: all 200ms ease-in-out;
	cursor: default;
}

#autocomplete .professor:hover {
	opacity: 1;
}

tr svg {
	position: relative !important;
	top: auto !important;
	float: right;
	padding-right: 5px;
	vertical-align: middle;
	display: inline-block;
}

#autocomplete .match {
	color: #ea4c89;
}

@media handheld, only screen and (max-width: 820px){
#container {
  width: 100%;
}

}