<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% if name %}
            <title>Hello {{ name }}!</title>
        {% else %}
            <title>Course Recommender</title>
        {% endif %}

        <link rel="stylesheet" href="../static/css/course.css" type="text/css" media="screen">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        
        <script src="../static/js/raphael.js" type="text/javascript" charset="utf-8"></script>

        <script src="../static/js/course.js" type="text/javascript" charset="utf-8"></script>

    </head>
    <body>


        <div id="canvas">
        </div>
    </body>
      
</html>